<!-- <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script> -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCXm7UmHDyuyBm9-ySvmAEZHmkxuXvBB8Y&sensor=false"></script>

<!-- 
jquery.autocomplete.js requires a minor modification for geo_autocomplete to work
the following script includes the required mod
-->
<%= javascript_include_tag "jquery.autocomplete_geomod" %>
<%= javascript_include_tag "geo_autocomplete" %>
<%= stylesheet_link_tag "jquery.autocomplete" %>
	
<script type="text/javascript">
	
	var geocoder = new google.maps.Geocoder();
	var location1, location2;
	var markersArray = [];
	
	function validate_review_form() {
		var error_count = 0;
		if ($('#formatted_address').val().trim() == "" || $('#dist_to_campus').val().trim() == "") {
			console.log("something wrong with map getting address and distance");
			error_count++;
		}
		if (isNaN(parseFloat($('#rent_input').val().trim()))) {
			console.log("Please enter your rent in $ (eg. 123.45)");
			error_count++;
		}
		if ($('#rent_option').val().trim() == "") {
			console.log("Please choose a rent option");
			error_count++;
		}
		if ($('#bedrooms_input').val().trim() == "") {
			console.log("How many bedrooms?");
			error_count++;
		}
		if ($('#bathrooms_input').val().trim() == "") {
			console.log("How many bathrooms?");
			error_count++;
		}
		if ($('#roommates_input').val().trim() == "") {
			console.log("How many roommates do you live with?");
			error_count++;
		}
		if ($('#space_input').val().trim() == "") {
			console.log("How spacious is your apartment?");
			error_count++;
		}
		if ($('#noise_input').val().trim() == "") {
			console.log("How noisy are the surroundings?");
			error_count++;
		}
		if ($('#security_input').val().trim() == "") {
			console.log("Is there a gate? Or do I need to hide my kids and wives?");
			error_count++;
		}
		if ($('#security_level_input').val().trim() == "") {
			console.log("How secure is it?");
			error_count++;
		}
		if ($('#management_input').val().trim() == "") {
			console.log("How awesome is the management here?");
			error_count++;
		}
		if ($('#condition_input').val().trim() == "") {
			console.log("What's the condition of the apartment?");
			error_count++;
		}
		if ($('#rating_input').val().trim() == "") {
			console.log("How would you rate living here overall?");
			error_count++;
		}
		if ($('#recommendation_input').val().trim() == "") {
			console.log("Would you recommend this apartment or not?");
			error_count++;
		}
		if (error_count == 0) {
			$('.review_form').submit();
		}
	}
	
	function clearOverlays() {
		if (markersArray) {
			for (i in markersArray) {
				markersArray[i].setMap(null);
			}
		}
	}
	
	$().ready(function() {
		
	    var latlng = new google.maps.LatLng(37.8716, -122.2716);
	    var myOptions = {
			zoom: 13,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
				
		
		// use all the autocomplete options as documented at http://docs.jquery.com/Plugins/Autocomplete
		/* additional geo_autocomplete options:
			mapkey : 'ABQ...' (required for Static Maps thumbnails, obtain a key for your site from http://code.google.com/apis/maps/signup.html)
			mapwidth : 100
			mapheight : 100
			maptype : 'terrain' (see http://code.google.com/apis/maps/documentation/staticmaps/#MapTypes)
			mapsensor : true or false
		*/
		$('#address_input').geo_autocomplete(new google.maps.Geocoder, {
			mapkey: 'ABQIAAAAbnvDoAoYOSW2iqoXiGTpYBTIx7cuHpcaq3fYV4NM0BaZl8OxDxS9pQpgJkMv0RxjVl6cDGhDNERjaQ', 
			selectFirst: false,
			minChars: 3,
			cacheLength: 50,
			width: 300,
			scroll: true,
			scrollHeight: 330
		}).result(function(_event, _data) {
			if (_data) {
				map.fitBounds(_data.geometry.viewport);
				var location_hash = _data.geometry.location;
				var latLngArr = [];
				for (var key in location_hash) {
 					latLngArr.push(location_hash[key]);
				}
				var myLatlng = new google.maps.LatLng(latLngArr[0], latLngArr[1]);
				// clear previous markers
				clearOverlays();
				// create new marker
				var marker = new google.maps.Marker({
				    position: myLatlng,
				    title: $('#formatted_address').val()
				});
				// add to map and array
				markersArray.push(marker);
				marker.setMap(map);
				// populate dist
				showLocation();
			}
		});
		
		$('.selectors, .options').live("mouseover", function(e) {
			var children = $(this).children();
			var finalIndex = children.index(e.target);
			$(children).slice(0, finalIndex+1).addClass("selected");
			$(children).slice(finalIndex+1).removeClass("selected");
		});
		
		$('.selectors, .options').live("mouseout", function(e) {
			if ($(this).hasClass("clicked")){
				var children = $(this).children();
				var finalIndex = parseInt($(this).attr("data-num"));
				$(children).slice(0, finalIndex+1).addClass("selected");
				$(children).slice(finalIndex+1).removeClass("selected");
			}
			else {
				var children = $(this).children();
				$(children).slice(0).removeClass("selected");
			}
		});
		
		$('.selectors, .options').live("click", function(e) {
			var children = $(this).children();
			var finalIndex = parseInt(children.index(e.target));
			$(this).addClass("clicked");
			$(this).attr("data-num", finalIndex);
			$(this).next('input').val(finalIndex + 1);
		});
		
		$('.option_selectors').live("click", function(e) {
			if ($(this).hasClass("clicked")) {
				$(this).find('li').removeClass("selected");
			}
			$(this).addClass("clicked");
			$(e.target).addClass('selected');
			$(this).next('input').val($(e.target).text());
		});
		
		$('#amenities_list').live("click", function(e) {
			$(e.target).toggleClass('selected');
			var selected_amenities = $(this).find('.selected');
			var amenity_ids = [];
			selected_amenities.each(function(index, amenity) {
				amenity_ids.push($(amenity).attr('data-id'));
			});
			$('#amenities_input').val(amenity_ids.join(","));
		});
		
		$('.button.upload').live("click", function(e) {
			$(this).hide();
			$('.upload_input').show();
		});

		function showLocation() {
			var address1 = $('#formatted_address').val();
			geocoder.geocode( { 'address': address1}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					location1 = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
					geocoder.geocode( { 'address': 'UC Berkeley'}, function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							location2 = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
							var latlng1 = new google.maps.LatLng(location1.lat, location1.lng);
							var latlng2 = new google.maps.LatLng(location2.lat, location2.lng);
							var km_dist = google.maps.geometry.spherical.computeDistanceBetween(latlng1, latlng2)/1000;
							var mile_dist = (km_dist/1.609344).toFixed(1);
							$('#dist_to_campus').val(mile_dist);
						}
						else {
						}
					})
				}
				else {
				}
			});
		}
		
		$('.button.cancel').live("click", function(e){
			var cancel_review = confirm("Are you sure you want to cancel?");
			if (cancel_review) {
				history.back();	
			}
		});
		
		$('.button.submit').live("click", function(e){
			validate_review_form();
		});
		
		
		
		
	});
</script>


	<div class="new_review grid_12">
	<%= form_for @review, :url => {:action => "create"}, :html => {:class => "review_form", :multipart => true} do |f| %>
	<div id="address" class="question">
		<div class="category">
			What's the address of your apartment?
		</div>

		<%= text_field_tag :address, nil, :id => "address_input" %>
		<%= hidden_field_tag :formatted_address, "", :id => "formatted_address" %>
		<%= hidden_field_tag :dist_to_campus, "", :id => "dist_to_campus" %>
		<div id="map_canvas" style="width:310px;height:150px;"/>
	</div>

	<div id="review" class="question">
		<div class="category">
		Your Review
		</div>
		<%= f.text_area :description, :id => "review_input", :rows => "4", :cols => "70" %>

	</div>
	
	<div id="rent" class="question">
		<div class="category">
			Monthly Rent
		</div>

		<%= f.text_field :rent, :id => "rent_input" %>

		<ul class="option_selectors">
			<li>per person</li>
			<li>apartment</li>
		</ul>
		<%= hidden_field_tag :rent_option, "", :id => "rent_option" %>

		<div class="clearfloat"></div>
	</div>

	<div id="bedrooms" class="question">
		<div class="category">
			Bedrooms
		</div>

		<div class="selectors">

			<div class="num_box"> 
			</div>

			<div class="num_box"> 
			</div>

			<div class="num_box"> 
			</div>

			<div class="num_box"> 
			</div>

			<div class="num_box"> 
			</div>

		</div>
		<%= f.hidden_field :bedrooms, :id => "bedrooms_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="bathrooms" class="question">
		<div class="category"> 
			Bathrooms
		</div>


		<div class="selectors">

			<div class="num_box"> 
			</div>

			<div class="num_box"> 
			</div>

			<div class="num_box non-selected"> 
			</div>

			<div class="num_box non-selected"> 
			</div>

			<div class="num_box non-selected"> 
			</div>

		</div>
		<%= f.hidden_field :bathrooms, :id => "bathrooms_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="roommates" class="question">
		<div class="category">
		Roommates
		</div>
		
		<div class="selectors">

				<div class="num_box"> 
				</div>

				<div class="num_box"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

				<div class="num_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :roommates, :id => "roommates_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="space" class="question">
		<div class="category">
		How spacious
		</div>
		<div class="description">
		Based on how many roommates you have, how spacious is your apartment?
		</div> 

		<div class="options">

				<div class="option_box"> 
				</div>

				<div class="option_box"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :space, :id => "space_input" %>	
		<div class="clearfloat"></div>

	</div>

	<div id="noise" class="question">
		<div class="category">
		Noise
		</div>


		<div class="description">
		How loud does it get? Inside complex and outside as well?
		</div>

		<div class="options">

				<div class="option_box"> 
				</div>

				<div class="option_box"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :noise, :id => "noise_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="security" class="question">
		<div class="category">
		Security
		</div>
		<div class="description">
		Gated complex?
		</div>

		<ul class="option_selectors">
			<li>yes</li>
			<li>no</li>
		</ul>
		<%= f.hidden_field :security, :id => "security_input" %>
		<div class="clearfloat"></div>

		<div class="description">
			<br>
		How safe do you feel living here?
		</div>	

		<div class="options">
			<div class="option_box"> 
			</div>

			<div class="option_box"> 
			</div>

			<div class="option_box non-selected"> 
			</div>

			<div class="option_box non-selected"> 
			</div>

			<div class="option_box non-selected"> 
			</div>
		</div>
		<%= f.hidden_field :security_level, :id => "security_level_input" %>
		<div class="clearfloat"></div>
		<br>
	</div>

	<div id="management" class="question">
		<div class="category"> 
		Management
		</div>
		<div class="description">
		How responsive are they to questions requests or maintenance?
		</div>	

			<div class="options">

				<div class="option_box"> 
				</div>

				<div class="option_box"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :management, :id => "management_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="condition" class="question">
		<div class="category">
		Condition
		</div>
		<div class="description">
		How well maintained is the building?
		</div>

			<div class="options">

				<div class="option_box"> 
				</div>

				<div class="option_box"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :condition, :id => "condition_input" %>
		<div class="clearfloat"></div>
	</div>
	
	<div id="rating" class="question">
		<div class="category">
		Rating
		</div>
		<div class="description">
		How would you rate the apartment complex overall?
		</div>

			<div class="options">

				<div class="option_box"> 
				</div>

				<div class="option_box"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

				<div class="option_box non-selected"> 
				</div>

		</div>
		<%= f.hidden_field :rating, :id => "rating_input" %>
		<div class="clearfloat"></div>
	</div>
	
	<div id="amenities" class="question">
		<div class="category">
		Amenities
		</div>

		<div class="description">
		Please select all that are provided to you by your apartment complex
		</div>
		
		<ul id="amenities_list">
			<li data-id="1">laundry machines</li>
			<li data-id="2">trash chutes</li>
			<li data-id="3">recycling</li>
			<li data-id="4">balcony</li>
			<li data-id="5">garage</li>
			<li data-id="6">elevators</li>
			<li data-id="7">carpets</li>
			<li data-id="8">hardwood floors</li>
			<li data-id="9">heaters</li>
			<li data-id="10">bike racks</li>
		</ul>
		
		<%= hidden_field_tag :amenities, "", :id => "amenities_input" %>
		<div class="clearfloat"></div>
	</div>

	<div id="recommendation" class="question">
		<div class="category">
			Would you recommend this apartment to a friend
		</div>	

		<ul class="option_selectors">
			<li>yes</li>
			<li>no</li>
		</ul>
		<%= f.hidden_field :recommendation, :id => "recommendation_input" %>
		<div class="clearfloat"></div>
	</div>
	

		<div class="grid_2 button upload">+ upload photos</div>
		<div class="upload_input" style="display:none;">
			<%= file_field_tag :photo %>
		</div>
		<div class="clearfloat"></div>
		
		<div class="grid_4 button cancel">cancel</div>
		<div class="grid_4 button submit">submit</div>
		
	<% end %>
	</div><!--new review-->

