<div id="signin-form" class="container_12">
				
	<div class="grid_12 signin">	
		<br>	
		<div class="title"> Welcome back!</div>
		<div class="signup"> Don't have an account? <%= link_to "Sign up now!", sign_up_path() %></div>
	
	
	
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "new-session") do |f| %>
				<ul>
					<fieldset>
					
					<li>
						<%= f.label :email %>
						<%= f.text_field :email %>
					</li>
					<li>
						<%= f.label :password %>
						<%= f.password_field :password %>
						<span id="login-error" class="signin-error"><%= flash[:alert] %></span>
					</li>
					<li>
						<%= label_tag " " %>
						<%= f.submit "Sign In", :class => "grid_4 submit-btn", :id => "signin-submit" %>
					</li> <!--button-->
					<div class="clearfloat">
		
					<li>
							<%= link_to (image_tag "signin-fb.png"), "/auth/facebook", :class => "popup", :"data-width" => 600, :"data-height" => 300 %><br/>
					</li>
					
					
					</fieldset>
				</ul>

			<% end %>
		</div> <!--signin-->
</div> <!--container_12-->

