<% @apartments.each do |apartment| %>
	<tr id="apartment-<%= apartment.id %>-record">
		<td><%= apartment.id %></td>
		<td><%= apartment.address %></td>
		<td><%= apartment.name %></td>
		<td><%= apartment.phone_number %></td>
		<td><%= apartment.dist_to_campus %></td>
		<td><%= apartment.reviews.length %></td>
		<td><%= apartment.apartment_photos.length %></td>
		<td class="linkable merge" data-apartment-id="<%= apartment.id %>">Merge</td>
		<td class="linkable delete" data-apartment-id="<%= apartment.id %>">Delete</td>
	</tr>
<% end %>