<div id="registrations-form" class="container-12">
	
	<div id="logo" class="grid_12">
					<div class="grid_7" style="position:relative; bottom:0;"> ROOMADE
							<div id="slogan">get the juice on apartments</div>
					</div>	

					<div class="grid_4" id="nav_bar">
						<ul>
							<li data-id="3">Login</li>
							<li data-id="2">Review Your Apartment</li>
							<li data-id="1">About</li>
						</ul>
					</div><!--nav_bar-->
	</div> <!--logo-->
	
		<div class="tencol">
			<h2>Create an account</h2>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<ul>
				<fieldset>				
				<% if @user.password_required? %>
				<li>
					<%= f.label :email %>
					<%= f.email_field :email %>
					<span id="email-error" class="signup-error"><%= devise_error_messages!["Email"] %></span>
				</li>
				<li>
					<%= f.label :password %>
					<%= f.password_field :password %>
					<span id="password-error" class="signup-error"><%= devise_error_messages!["Password"] %></span>
				</li>
					<%= f.label :confirm_password %>
					<%= f.password_field :password_confirmation %>
				</li>
				<% end %>
				
				<li>
					<%= f.label :blank, "" %>
					<%= f.submit "Sign Up", :class => "submit-btn", :id => "signup-submit" %>
				</li>
				</fieldset>
	
			</ul>
			<% end %>
		</div>
	
</div> <!--container-12-->

<script type="text/javascript">
	<% if !@user.password_required? %>
		$('#signup-submit').click();
	<% else %>
		var loc = window.location;
		if (loc.hash != "" && loc.hash.indexOf("#") != -1) {
			location.href = loc.href.split("#")[0];	
		}
	<% end %>
</script>