<div id="registrations-form" class="container_12">
	
		<div class="grid_12 signin">
			<div class="title">Create an Account</div>
			<div class="signup">Already have an account?  <%= link_to "Login", sign_in_path() %></div>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<ul>
				<fieldset>				
				<% if @user.password_required? %>
				<li>
					<%= f.label :email %>
					<%= f.email_field :email %>
					
				</li>
				<li>
					<%= f.label :password %>
					<%= f.password_field :password %>
				
				</li>
				<li>
					<%= f.label :confirm_password %>
					<%= f.password_field :password_confirmation %>
				</li>
				<% end %>
				
				<li>
					<%= f.submit "Sign Up", :class => "submit-btn", :id => "signup-submit" %>
				</li>
				
				<div class="clearfloat">
	
				<li>
						<%= link_to (image_tag "signin-fb.png"), "/auth/facebook", :class => "popup", :"data-width" => 600, :"data-height" => 300 %><br/>
				</li>
				</fieldset>
	
			</ul>
			<% end %>
		</div> <!--grid_12-->
	
</div> <!--container-12-->

<script type="text/javascript">
	<% if !@user.password_required? %>
		$('#signup-submit').click();
	<% else %>
		var loc = window.location;
		if (loc.hash != "" && loc.hash.indexOf("#") != -1) {
			location.href = loc.href.split("#")[0];	
		}
	<% end %>
</script>