<div class="wrapper">	
	<div class="container_12">
			<div id="info_container" class="grid_12">
		
				
			<div class="inner">
			
			<div class="column">
			
				
					<div class=" subcolumn neighborhood_map">
						<div class="map_canvas">
							<div id="google-map-small">
							</div>
						</div>
					</div><!--map-->
					
				<div class="subcolumn add_address">
					<div class="address"><%= @address_hash["street"] %></div>
					<div class="city"><%= @address_hash["city"] %></div>
					<div class="phone"><%= @apartment.phone_number %> </div>
					<div class="distance"><%= WALKING_MIN_PER_MILE * @apartment.dist_to_campus %> min walk to campus</div>
				</div>
				
				<div class="subcolumn_right recommendation-container">
					
					<div class="category"> recommendation 
					</div>
				
					<div class="number recommendation-rating">
					<%= @recommendations %> <div class="total" style="display:inline;"> out of <%= @reviews.length %> </div>
					</div>
					
				</div>		
				
				
				<div class="subcolumn_right price">
				<div class="category"> price <p style="font-size:12px; display:inline;">(monthly)</p>
				</div>
					
					<div class="apt_price">
					<%= number_to_currency(@price_range_hash["min"]) %>-<%= number_to_currency(@price_range_hash["max"]) %>
					</div>
					
				</div>
		
			
			<div class="clearfloat"></div>
			<div class="subcolumn amenities">
					<div class="category">amenities
					</div>
					
					<ul id="amenities_list">
						<li>laundry machines</li>
						<li>trash chutes</li>
						<li>recycling</li>
						<li>balcony</li>
						<li>garage</li>
						<li>elevators</li>
						<li>carpets</li>
						<li>hardwood floors</li>
						<li>heaters</li>
						<li>bike racks</li>
					</ul>
				</div>
		
			</div> <!--column-->
			
			
			<div class="apt_photo">
				<% if @apartment_photos.length > 0 %>
					<%= image_tag(@apartment_photos.first.photo.url(:thumb), :width => 220, :height => 163) %>
				<% else %>
					<%= image_tag("2535_Channing.JPG", :width => 220, :height => 163) %>
				<% end %>
			</div>
			
			</div><!--inner-->
			</div> <!--filter_container-->

		
		<div class="grid_8">
		
			<div class="total_reviews">
				<div class="num"><%= @reviews.length %></div>
				<div> <%= @reviews.length == 1 ? "review" : "reviews" %> </div>
			</div>
		
			<% @reviews.each do |review| %>
			<div class="review">
				<div class="subcolumn response <%= review.recommendation == true ? "yes" : "no" %>">
				<%= review.recommendation == true ? "yes" : "no" %>
				</div>
				
				<div class="subcolumn">
					<div class="review_text">
						<%= raw review.description %>
					</div>
					
					<div class="date">
						<%= time_ago_in_words(review.created_at) + " ago" %>
					</div>
				</div>
				
				<div class="subcolumn apt_setup">
					<div class="category">Apartment Setup</div>
					<div class="bedrooms">Bedrooms: <%= review.bedrooms %></div>
					<div class="bathrooms">Bathrooms: <%= review.bathrooms %></div>
					<div class="roommates">Roommates: <%= review.roommates %></div>
				</div>
				
			</div>
			<% end %>
		
			<% if @allow_review %>
			<div class="new_review">
				<div> Do you live here?
				</div>
			
				<div class="button"> Make a Quickie Review </div>
			</div>
			<% end %>
		</div> <!--grid_8-->
		
		<div class="grid_4">
			<div class="photo_gallery">
			</div><!--photo_gallery-->
			
			
			<div class="overall_ratings">
					
				<div class="noise rating">
					<div class="category">noise level
					</div>
					
					<div class="range"> low
					</div>

					<div class="ratingbox-container">
						<% (1..@ratings_hash["noise"]).each do |num| %>
						<div class="ratings_value_box"> 
						</div>
						<% end %>
						<% ((@ratings_hash["noise"]+1)..5).each do |num| %>
						<div class="ratings_value_box non-selected"> 
						</div>
						<% end %>
					</div>
					
					<div class="range"> high
					</div>

				</div>
				
				<div class="clearfloat"></div>

				<div class="condition rating">
					<div class="category">overall condition
					</div>
					
					<div class="range"> low
					</div>

					<div class="ratingbox-container">
						<% (1..@ratings_hash["condition"]).each do |num| %>
						<div class="ratings_value_box"> 
						</div>
						<% end %>
						<% ((@ratings_hash["condition"]+1)..5).each do |num| %>
						<div class="ratings_value_box non-selected"> 
						</div>
						<% end %>
					</div>
					
					<div class="range"> high
					</div>
					
				</div>
				
			
				<div class="clearfloat"></div>

				<div class="security rating">
					<div class="category">security level 
					</div>
					
					<div class="range"> low
					</div>
					
					<div class="ratingbox-container">
						<% (1..@ratings_hash["security_level"]).each do |num| %>
						<div class="ratings_value_box"> 
						</div>
						<% end %>
						<% ((@ratings_hash["security_level"]+1)..5).each do |num| %>
						<div class="ratings_value_box non-selected"> 
						</div>
						<% end %>
					</div>
					
					<div class="range"> high
					</div>
					
				</div>
				
				<div class="clearfloat"></div>

				<div class="management rating">
					<div class="category">management quality
					</div>

					<div class="range"> low
					</div>

					<div class="ratingbox-container">
						<% (1..@ratings_hash["management"]).each do |num| %>
						<div class="ratings_value_box"> 
						</div>
						<% end %>
						<% ((@ratings_hash["management"]+1)..5).each do |num| %>
						<div class="ratings_value_box non-selected"> 
						</div>
						<% end %>
					</div>

					<div class="range"> high
					</div>

				</div>
		
			</div> <!--overall_ratings-->
			
		</div><!--grid_4-->
		
	</div> <!--container 12-->
	
			
</div> <!--wrapper-->


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCXm7UmHDyuyBm9-ySvmAEZHmkxuXvBB8Y&sensor=false"></script>
<script type="text/javascript">
	
	function initialize() {
		var latlng = new google.maps.LatLng(<%= @apartment.latitude %>, <%= @apartment.longitude %>);
		var myOptions = {
			zoom: 14,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			mapTypeControl: false,
			draggable: false,
			streetViewControl: false,
			zoomControl: false,
			draggableCursor: "pointer"
		};
		var map = new google.maps.Map(document.getElementById("google-map-small"), myOptions);
		
		// create marker
		var marker = new google.maps.Marker({
   			position: latlng
		});
		// add to map
		marker.setMap(map);
	}

	$().ready(function() {	
		$('.new_review').live("click", function(e) {
			location.href = '<%= new_review_path() %>';
		});
		initialize();
		<% @amenities.each do |amenity_id| %>
			$('#amenities_list li:nth-child(<%= amenity_id %>)').addClass("selected");
		<% end %>
	});
</script>