<!DOCTYPE html>
<html>
<head>
	<title>Roomade</title>
	<!-- stylesheets -->
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "text" %>
	<%= stylesheet_link_tag "960" %>
	<%= stylesheet_link_tag "style" %>


	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.8.19/jquery-ui.min.js" %>
	<%= javascript_include_tag "bootstrap" %>
	

	
	<%= csrf_meta_tags %>
	
	<script type="text/javascript">
		var flash_timeout;

		function show_flash_error(message) {
			clearTimeout(flash_timeout);
			if ($('.notice-bar').is(":visible")) {
				$('.notice-bar').hide();
			}
			$('.error-bar').text(message);
			$('.error-bar').slideDown();
			flash_timeout = setTimeout(function(){
				$('.error-bar').slideUp();
			}, 5000);
		}

		function show_flash_notice(message) {
			clearTimeout(flash_timeout);
			if ($('.error-bar').is(":visible")) {
				$('.error-bar').hide();
			}
			$('.notice-bar').text(message);
			$('.notice-bar').slideDown();
			flash_timeout = setTimeout(function(){
				$('.notice-bar').slideUp();
			}, 5000);
		}
	
		var loc = window.location;
		if (loc.hash != "" && loc.hash.indexOf("#") != -1) {
			location.href = loc.href.split("#")[0];	
		}
		
		$().ready(function(){
			<% if flash[:warning].present? %>
				$('.error-bar').text('<%= escape_javascript(flash[:error]) %>');
				$('.error-bar').slideDown().delay(5000).slideUp();
			<% elsif flash[:notice].present? %>
				$('.notice-bar').text('<%= escape_javascript(flash[:notice]) %>');
				$('.notice-bar').slideDown().delay(5000).slideUp();
			<% end %>
			
			$('#feedback-btn').live("click", function(e){
				<% unless current_user.present? %>
					show_flash_error("Please sign in first");
					setTimeout(function(){
						window.location = "/users/signin";	
					}, 1500);
				<% end %>
				e.preventDefault();
			});
		});
	</script>
</head>
<body>	
	<%= render :partial => "layouts/feedback" %>
	<div class="container_12">
		<% if params[:controller] == "public" %>
			<%= render :partial => "layouts/public_header" %>
		<% else %>
			<%= render :partial => "layouts/header" %>
		<% end %>
		<%= render :partial => "layouts/flash_messages" %>
		<%= yield %>
		<%= render :partial => "layouts/footer" %>
	</div>
	

</body>
</html>
