<!DOCTYPE html>
<html>
<head>
	<title>Roomade</title>
	<!-- stylesheets -->
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "text" %>
	<%= stylesheet_link_tag "960" %>
	<%= stylesheet_link_tag "style" %>
	<%= javascript_include_tag "jquery.min" %>
	
	<%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
